---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";
import Series from "./Series.astro";

export interface Props extends CollectionEntry<"blog"> {
  variant?: "h2" | "h3";
}

const { variant = "h2", data, id, filePath } = Astro.props;

const {
  title,
  description,
  pubDatetime,
  modDatetime,
  timezone,
  series,
  seriesOrder,
} = data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium decoration-dashed hover:underline",
};
---

<li class="my-6">
  <a
    href={getPath(id, filePath)}
    class="inline-block text-lg font-medium text-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      variant === "h2" ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
  </a>
  <div class="mb-1 flex items-center gap-2">
    <Datetime {pubDatetime} {modDatetime} {timezone} />
    {
      series && (
        <>
          <span class="text-accent/50">•</span>
          <ul class="inline-flex">
            <Series series={slugifyStr(series)} seriesName={series} size="sm" />
          </ul>
          {seriesOrder && (
            <span class="text-xs font-medium text-accent/75">
              (Part {seriesOrder})
            </span>
          )}
        </>
      )
    }
  </div>
  <p>{description}</p>
</li>
